* {
    padding: 0;
    margin: 0;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(99, 109, 112);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
  
.popup h2 {
    margin-top: 0;
    text-align: center;
}
  
.popup button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.popup button:hover {
    background-color: #000000;
}
  
.popup button:focus {
    outline: none;
}
  
.popup.show {
    display: block;
}

.light-mode {
    background-color: white;
    color: black;
}
  
  .dark-mode {
    background-color: rgb(31, 41, 55);
    color: white;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
    line-height: 1.6;
    font-size: 18px;
}

.section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}


.headerpad {
    padding: 25px;
}

img {
    max-width: 100%;
    height: auto;
}

.billeder {
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

@keyframes fade {
    from {
         opacity: 0;
         transform: translateX(-99px);
     }
    to {
         opacity: 1;
         transform: translateX(0);
     }
 }
 
 .fade-in {
    animation: fade 2s ease-in-out forwards;
     opacity: 0;
     transform: translateX(55px);
 }