*{
    padding: 0;
    margin: 0;

}
@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.fade-in-from-top {
    animation: fadeInFromTop 1.5s ease-in-out forwards;
}

.heroimg {
    height: 500px;
    width: 500px;
}



.imgcontainer {
display: flex;
justify-content: center;
align-items: center;
height: 60vh;
}


.simon {
display: flex;
position: sticky;
justify-content: center;
align-items: center;
height: 500px;
width: 500px;
z-index: -1;
overflow: hidden;
}

