*{
    padding: 0;
    margin: 0;

}


.heroimg {
    height: 500px;
    width: 500px;
}



.imgcontainer {
display: flex;
justify-content: center;
align-items: center;
height: 60vh;
}


.simon {
display: flex;
position: sticky;
justify-content: center;
align-items: center;
height: 500px;
width: 500px;
z-index: -1;
overflow: hidden;
}

